Mode: debug
Host: "127.0.0.1"
Port: "8080"
Log:
    LogPath: "./latest.log"
    CLS:
        Endpoint: ""
        AccessKey: ""
        AccessToken: ""
        TopicID: ""
Postgres:
    Addr: ""
    Port: ""
    User: ""
    Password: ""
    Database: ""
    UseTLS: false
    Debug: false
Redis:
    Addr: ""
    Port: ""
    Password: ""
    Db: 0
B2:
    BucketKeyID: ""
    BucketKey: ""
    BucketName: ""
SentryDsn: ""
hduhelp:
    ClientID: ""
    ClientSecret: ""
    OauthFinishPath: ""